body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#bug1 {
    width: 40px;
    height: 40px;
    position: absolute;
    transition: all 0.7s ease-in-out;
}

#bug2 {
    width: 40px;
    height: 40px;
    position: absolute;
    transition: all 0.7s ease-in-out;
}

/* #bug3 {
    width: 40px;
    height: 40px;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

#bug4 {
    width: 40px;
    height: 40px;
    position: absolute;
    transition: all 0.3s ease-in-out;
} */