* {
    margin: 0;
    padding: 0;
    cursor: url('media/lion.png') 2 2, auto;
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.bgimg img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bug {
    width: 40px;
    height: 40px;
    position: absolute;
    /* 
    left, top 좌표를 자바스크립트로 제어하여 요소를 자유롭게 이동시키기 위해
    transition 속성 : 부드러운 이동
    ease-in-out : 느리게 - 빠르게 - 느리게 변화
    -> 버그 요소가 부드럽게 이동하도록 함
    */
    transition: left 0.7s ease-in-out, top 0.7s ease-in-out;
}

#bug1,
#bug2,
#bug3,
#bug4 {
    width: 40px;
    height: 40px;
}

/* 모달 스타일 */
.modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
    width: 400px;
    height: 300px;
    padding: 30px;
    text-align: center;
    position: relative;
    background-color: white;
    border-radius: 10px;
}

.modal_body:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.modal_body h2 {
    font-size: 30px;
}

.modal_body p {
    font-size: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}